<div class="col-12">
  <div class="row">
    <div class="col-4">
      <mat-card>
        <mat-card-title>
          Forms List
        </mat-card-title>
        <mat-card-content>
          <div *ngFor="">

          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-8">
      <mat-card>
        <mat-card-title>
          <!-- Display Selected form name here -->
        </mat-card-title>
        <mat-card-content>
          <app-static-display></app-static-display>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- <mat-card>
  <mat-card-content>
    <span class="text-muted">No items found.</span>
  </mat-card-content>
</mat-card> -->